@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD1ULFV_aurarwuEWJ88h4bVnzeuO8YnA&sensor=false">
</script>
<div class="container">
<h3>Breweries</h3>
<div id="map-canvas" style="width: 100%; height: 800px"></div></div>
<script type="text/javascript">
    function initialize() {
        var map;

        var mapOptions = {
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        
        if (Modernizr.geolocation) {
            navigator.geolocation.getCurrentPosition(showMap);
        }

        function showMap(position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(pos);
        }

        layer = new google.maps.FusionTablesLayer({
            map: map,
            heatmap: { enabled: false },
            query: {
                select: "col8",
                from: "1rg1tShfMv9v3DHC2d0uoHLuJ9Vod-XPsmTUoCDg",
                where: ""
            },
            options: {
                styleId: 2,
                templateId: 2
            }
        });
    }

    $(document).ready(function () {
        initialize();
    });
</script>
