@using BeerBoutique
@model IEnumerable<Models.ViewModels.BeerViewModel>
<script type="text/javascript">

    $(document).ready(function () {
        $('#tableBeers').dataTable({
            "bProcessing": false,
            "bSort": false,
            "bServerSide": true,
            "sAjaxSource": "/Beer/GetTop",
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
            "aoColumnDefs": [{
                "aTargets": [0],
                "fnRender": function (o, val) {
                    return "<a href='/Beer/Details/" + o.aData[4] + "'>" + val + "</a>";
                }
            },
            {
                "aTargets": [3],
                "fnRender": function (o, val) {
                    return "<div class='rateit' data-rateit-value='" + val/2 + "' data-rateit-ispreset='true' data-rateit-readonly='true' title='" + val + "'></div>";
                }
            }],
            "fnInitComplete" : function(oSettings, json) {
                $(".rateit").rateit();
            }
        });
    });
</script>
<section>
    <div class="container">
        <div class="container" style="text-align: center;">
            <h2>Top Beers</h2>
        </div>
        <table class="table table-bordered table-striped" id="tableBeers">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Style</th>
                    <th>ABV %</th>
                    <th>Rating</th>
                </tr>
            </thead>
        </table>
    </div>
</section>